
## Question 1

762. Prime Number of Set Bits in Binary Representation
Easy
Topics
Companies
Hint
Given two integers left and right, return the count of numbers in the inclusive range [left, right] having a prime number of set bits in their binary representation.

Recall that the number of set bits an integer has is the number of 1's present when written in binary.

For example, 21 written in binary is 10101, which has 3 set bits.
 

Example 1:

Input: left = 6, right = 10
Output: 4
Explanation:
6  -> 110 (2 set bits, 2 is prime)
7  -> 111 (3 set bits, 3 is prime)
8  -> 1000 (1 set bit, 1 is not prime)
9  -> 1001 (2 set bits, 2 is prime)
10 -> 1010 (2 set bits, 2 is prime)
4 numbers have a prime number of set bits.
Example 2:

Input: left = 10, right = 15
Output: 5
Explanation:
10 -> 1010 (2 set bits, 2 is prime)
11 -> 1011 (3 set bits, 3 is prime)
12 -> 1100 (2 set bits, 2 is prime)
13 -> 1101 (3 set bits, 3 is prime)
14 -> 1110 (3 set bits, 3 is prime)
15 -> 1111 (4 set bits, 4 is not prime)
5 numbers have a prime number of set bits.
 

Constraints:

1 <= left <= right <= 106
0 <= right - left <= 104

In [1]:
def is_prime(cc):
    if cc <= 1:
        return False
    elif cc == 2 or cc == 3:
        return True
    elif cc % 2 == 0:
        return False

    for i in range(3, int(cc**0.5) + 1, 2):
        if cc % i == 0:
            return False

    return True

def countPrimeSetBits(left,right):
    count = 0
    for i in range(left, right + 1):
        set_bit_count = bin(i)[2:].count('1')
        if is_prime(set_bit_count):
            count += 1
    return count

countPrimeSetBits(10,15)

5

In [2]:
countPrimeSetBits(842,888)

23

In [3]:
countPrimeSetBits(84,188)

59

## Question 2
Get the Size of a DataFrame
Easy
Companies
Hint
DataFrame players:
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| player_id   | int    |
| name        | object |
| age         | int    |
| position    | object |
| ...         | ...    |
+-------------+--------+
Write a solution to calculate and display the number of rows and columns of players.

Return the result as an array:

[number of rows, number of columns]

The result format is in the following example.

 

Example 1:

Input:
+-----------+----------+-----+-------------+--------------------+
| player_id | name     | age | position    | team               |
+-----------+----------+-----+-------------+--------------------+
| 846       | Mason    | 21  | Forward     | RealMadrid         |
| 749       | Riley    | 30  | Winger      | Barcelona          |
| 155       | Bob      | 28  | Striker     | ManchesterUnited   |
| 583       | Isabella | 32  | Goalkeeper  | Liverpool          |
| 388       | Zachary  | 24  | Midfielder  | BayernMunich       |
| 883       | Ava      | 23  | Defender    | Chelsea            |
| 355       | Violet   | 18  | Striker     | Juventus           |
| 247       | Thomas   | 27  | Striker     | ParisSaint-Germain |
| 761       | Jack     | 33  | Midfielder  | ManchesterCity     |
| 642       | Charlie  | 36  | Center-back | Arsenal            |
+-----------+----------+-----+-------------+--------------------+
Output:
[10, 5]
Explanation:
This DataFrame contains 10 rows and 5 columns.

In [6]:
import pandas as pd

data = {
    'player_id': [846, 749, 155, 583, 388, 883, 355, 247, 761, 642],
    'name': ['Mason', 'Riley', 'Bob', 'Isabella', 'Zachary', 'Ava', 'Violet', 'Thomas', 'Jack', 'Charlie'],
    'age': [21, 30, 28, 32, 24, 23, 18, 27, 33, 36],
    'position': ['Forward', 'Winger', 'Striker', 'Goalkeeper', 'Midfielder', 'Defender', 'Striker', 'Striker', 'Midfielder', 'Center-back'],
    'team': ['RealMadrid', 'Barcelona', 'ManchesterUnited', 'Liverpool', 'BayernMunich', 'Chelsea', 'Juventus', 'ParisSaint-Germain', 'ManchesterCity', 'Arsenal']
}

df = pd.DataFrame(data)

In [7]:
df

   player_id      name  age     position                team
0        846     Mason   21      Forward          RealMadrid
1        749     Riley   30       Winger           Barcelona
2        155       Bob   28      Striker    ManchesterUnited
3        583  Isabella   32   Goalkeeper           Liverpool
4        388   Zachary   24   Midfielder        BayernMunich
5        883       Ava   23     Defender             Chelsea
6        355    Violet   18      Striker            Juventus
7        247    Thomas   27      Striker  ParisSaint-Germain
8        761      Jack   33   Midfielder      ManchesterCity
9        642   Charlie   36  Center-back             Arsenal

In [12]:
l = [df.shape[0],df.shape[1]]
l

[10, 5]

1869. Longer Contiguous Segments of Ones than Zeros
Easy
Topics
Companies
Hint
Given a binary string s, return true if the longest contiguous segment of 1's is strictly longer than the longest contiguous segment of 0's in s, or return false otherwise.

For example, in s = "110100010" the longest continuous segment of 1s has length 2, and the longest continuous segment of 0s has length 3.
Note that if there are no 0's, then the longest continuous segment of 0's is considered to have a length 0. The same applies if there is no 1's.

 

Example 1:

Input: s = "1101"
Output: true
Explanation:
The longest contiguous segment of 1s has length 2: "1101"
The longest contiguous segment of 0s has length 1: "1101"
The segment of 1s is longer, so return true.
Example 2:

Input: s = "111000"
Output: false
Explanation:
The longest contiguous segment of 1s has length 3: "111000"
The longest contiguous segment of 0s has length 3: "111000"
The segment of 1s is not longer, so return false.
Example 3:

Input: s = "110100010"
Output: false
Explanation:
The longest contiguous segment of 1s has length 2: "110100010"
The longest contiguous segment of 0s has length 3: "110100010"
The segment of 1s is not longer, so return false.

In [20]:
def checkZeroOnes(s):
    l1=[0]
    c1=0
    c2=0
    l2=[0]
    for i in range(0,len(s)):
        if s[i]=='1':
            while i<len(s) and s[i]=='1':
                i=i+1
                c1=c1+1
            l1.append(c1)
            c1=0
        elif s[i]=='0':
            while i<len(s) and s[i]=='0':
                i=i+1
                c2=c2+1
            l2.append(c2)
            c2=0
    return max(l1)>max(l2)
checkZeroOnes('11001111100001101')

True

Detect Pattern of Length M Repeated K or More Times
Easy
Topics
Companies
Hint
Given an array of positive integers arr, find a pattern of length m that is repeated k or more times.

A pattern is a subarray (consecutive sub-sequence) that consists of one or more values, repeated multiple times consecutively without overlapping. A pattern is defined by its length and the number of repetitions.

Return true if there exists a pattern of length m that is repeated k or more times, otherwise return false.

 

Example 1:

Input: arr = [1,2,4,4,4,4], m = 1, k = 3
Output: true
Explanation: The pattern (4) of length 1 is repeated 4 consecutive times. Notice that pattern can be repeated k or more times but not less.
Example 2:

Input: arr = [1,2,1,2,1,1,1,3], m = 2, k = 2
Output: true
Explanation: The pattern (1,2) of length 2 is repeated 2 consecutive times. Another valid pattern (2,1) is also repeated 2 times.
Example 3:

Input: arr = [1,2,1,2,1,3], m = 2, k = 3
Output: false
Explanation: The pattern (1,2) is of length 2 but is repeated only 2 times. There is no pattern of length 2 that is repeated 3 or more times.

In [10]:
arr = [1,2,1,2,1,1,1,3]
m = 2
k = 2
l=[]
def hasRepeatedPattern(arr, m, k):
    def isPatternValid(pattern, m, k):
        count = 0
        i = 0
        while i < len(arr):
            if arr[i:i + m] == pattern:
                count += 1
                i += m
            else:
                return isPatternValid(pattern, m + 1, k)
            if count >= k:
                return True
        return False

    if m * k > len(arr):
        return False

    for i in range(len(arr) - m * (k - 1)):
        pattern = arr[i:i + m]
        if isPatternValid(pattern, m, k):
            return True
    return False
hasRepeatedPattern(arr,m,k)

True

In [9]:
l

[1]

Water Bottles
Easy
Topics
Companies
Hint
There are numBottles water bottles that are initially full of water. You can exchange numExchange empty water bottles from the market with one full water bottle.

The operation of drinking a full water bottle turns it into an empty bottle.

Given the two integers numBottles and numExchange, return the maximum number of water bottles you can drink.

 

Example 1:


Input: numBottles = 9, numExchange = 3
Output: 13
Explanation: You can exchange 3 empty bottles to get 1 full water bottle.
Number of water bottles you can drink: 9 + 3 + 1 = 13.
Example 2:


Input: numBottles = 15, numExchange = 4
Output: 19
Explanation: You can exchange 4 empty bottles to get 1 full water bottle. 
Number of water bottles you can drink: 15 + 3 + 1 = 19.

In [7]:
def numWaterBottles(numBottles, numExchange):
    newr= numBottles//numExchange
    left = numBottles%numExchange
    drank= numBottles + newr
    newa = newr+left
    while newa >= numExchange:
        newr = newa//numExchange
        left= newa%numExchange
        newa = newr+left
        drank=drank+newr
    return drank
numWaterBottles(15,4)

19

In [8]:
numWaterBottles(155,10)

172

Power of Four
Easy
Topics
Companies
Given an integer n, return true if it is a power of four. Otherwise, return false.

An integer n is a power of four, if there exists an integer x such that n == 4x.

 

Example 1:

Input: n = 16
Output: true
Example 2:

Input: n = 5
Output: false
Example 3:

Input: n = 1
Output: true

In [1]:
def ab(n):
    for i in range(1, n):
        if 4**i == n:
            return True
            break
    return False
ab(16)

True

We build a table of n rows (1-indexed). We start by writing 0 in the 1st row. Now in every subsequent row, we look at the previous row and replace each occurrence of 0 with 01, and each occurrence of 1 with 10.

For example, for n = 3, the 1st row is 0, the 2nd row is 01, and the 3rd row is 0110.
Given two integer n and k, return the kth (1-indexed) symbol in the nth row of a table of n rows.

 

Example 1:

Input: n = 1, k = 1
Output: 0
Explanation: row 1: 0
Example 2:

Input: n = 2, k = 1
Output: 0
Explanation: 
row 1: 0
row 2: 01
Example 3:

Input: n = 2, k = 2
Output: 1
Explanation: 
row 1: 0
row 2: 01

In [26]:
n = 2
k = 2
r = '0'
for i in range(n):
    new_r = '' 
    for j in r:
        if j == '0':
            new_r += '01'
        else:
            new_r += '10'
    r = new_r
r=r[k-1]
int(r)

1